@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND */

.btn {
	@apply cursor-pointer px-3 py-2 rounded-3xl text-sm w-full hover:opacity-60 transition-all;
}

/* CSS */

.main-container-overflow::-webkit-scrollbar {
	width: 0px;
}

.history-dropdown-overflow::-webkit-scrollbar {
	width: 0px;
}
.history-dropdown-overflow::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 100px;
}
.history-dropdown-overflow::-webkit-scrollbar-track {
	background-color: transparent;
}

.definition-container-overflow::-webkit-scrollbar {
	width: 5px;
}
.definition-container-overflow::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 100px;
}
.definition-container-overflow::-webkit-scrollbar-track {
	background-color: transparent;
}
